{% extends 'housing_affordability/base_affordability.html' %}
{% load humanize %}

{% block content %}

  <main>
        <li>
                <select class="search"  name="place">
                    {% for region in regions %}
                        <optgroup label={{region}}>

                                {% for gov in all_govs %}
                                    {% if gov.state_abbr in {{regions[{{region}}]}} %}
                                    <option id='{{ gov.id }}' value="/analysis/housing/overview/{{ gov.id }}">{{ gov.name }}, {{ gov.state_abbr }}</option>
                                    {% endif %}
                                {% endfor %}

                    {% endfor %}
                </select>
        </li>

  </main>

{% endblock %}
