{% extends 'housing_affordability/base_affordability.html' %}
{% load humanize %}

{% block content %}

  <main>
        <li>
            <form >
                <select id="search" multiple onchange="go()">
                    {% for gov in govs %}
                        <option id={{ gov.id }} value="/analysis/housing/overview/{{ gov.id }}">{{ gov.name }}</option>
                    {% endfor %}

                </select>
            </form>
        </li>
        {% for gov in all_govs %}
            <td id={{ gov.id }} value="/analysis/housing/overview/{{ gov.id }}">{{ gov.name }}</td>
        {% endfor %}
    <li> {{ map_div |safe  }}</li>

  </main>
  <script>
    $(function() {
    $("#search").selectize({placeholder: "Search"});
    });
  </script>

      <script>

        function go() {
        var search = document.getElementById("search")
        window.open("{{ HTTP_HOST }}/" + search.value, "_self");
        }
      </script>
{% endblock %}
