{% extends 'housing_affordability/base_housing.html' %}
{% load humanize %}

{% block head %}
    {% load static %}
    <script src="{% static 'js/housing_comp_select.js' %}"></script>
{% endblock %}

{% block content %}

<main>
    <div class="dropdown-aff">
        <table class="aff-select">
            <tr>
                <td>Type of grouping</td>
                <td>
                    <select name="group_type" id="group_type" onchange="LoadGroup()">
                        <option value="0">Select</option>
                        <option value="st">By state</option>
                        <option value="reg">By region</option>
                        <option value="pop">By population</option>
                        <option value="net">By network</option>
                        <option value="cust">Custom</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Group</td>
                <td id="group_cell">
                    <select name="group_st" id="group_st" onchange="EnableSubmit(this.value)" style="display: none;">
                        <option value="0">Select</option>
                        {% for st in dropdown_st %}
                            <option value="state{{ st }}">{{ st }}</option>
                        {% endfor %}
                    </select>
                    <select name="group_reg" id="group_reg" onchange="EnableSubmit(this.value)" style="display: none;">
                        <option value="0">Select</option>
                        <option value="region1">Northeast: New England (ME, VT, NH, MA, CT, RI)</option>
                        <option value="region2">Northeast: Middle Atlantic (NY, PA, NJ, DE, MD, DC)</option>
                        <option value="region3">Midwest: East North Central (MI, WI, IL, IN, OH)</option>
                        <option value="region4">Midwest: West North Central (ND, SD, MN, IA, NE, MO, KS)</option>
                        <option value="region5">South: South Atlantic (FL, GA, SC, NC, VA, WV)</option>
                        <option value="region6">South: East South Central (AL, MS, LA, AR, TN, KY)</option>
                        <option value="region7">South: West South Central (LA, AR, TX, OK)</option>
                        <option value="region8">West: Mountain (MT, ID, WY, NV, UT, CO, AZ, NM)</option>
                        <option value="region9">West: Pacific (CA, OR, WA)</option>
                    </select>
                    <select name="group_pop" id="group_pop" onchange="EnableSubmit(this.value)" style="display: none;">
                        <option value="0">Select</option>
                        <option value="pop1">60,000 - 70,000</option>
                        <option value="pop2">70,000 - 80,000</option>
                        <option value="pop3">80,000 - 100,000</option>
                        <option value="pop4">100,000 - 125,000</option>
                        <option value="pop5">125,000 - 150,000</option>
                        <option value="pop6">150,000 - 200,000</option>
                        <option value="pop7">200,000 - 500,000</option>
                        <option value="pop8">500,000 - 1,000,000</option>
                        <option value="pop9">+1,000,000</option>
                    </select>
                    <select name="group_net" id="group_net" onchange="EnableSubmit(this.value)" style="display: none;">
                        <option value="0">Select</option>
                        <option value="network1">What Works Cities</option>
                    </select>
                    <select id="group_cust" name="group_cust" multiple="" onchange="EnableSubmit()" style="display: none;">
                        {% for city in city_list %}
                        <option value="{{city.id}}">{{ city.name }}, {{city.state_abbr}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="right">
                    <button type="submit" id="Go" onclick="GoToComp()" disabled="true">Go!</button>
                </td>
            </tr>
        </table>
    </div>
</main>

<script>
    function LoadGroup(){
        document.getElementById("group_st").style.display = "none";
        document.getElementById("group_reg").style.display = "none";
        document.getElementById("group_pop").style.display = "none";
        document.getElementById("group_net").style.display = "none";
        var input_div = document.querySelector(".selectize-control");
        input_div.style.display = "none";
        $("#Go").prop('disabled', true);
        if ($("#group_type option:selected").text() != 'Select'){
            if ($("#group_type option:selected").text() == 'By state'){
                document.getElementById("group_st").style.display = "inline";
            }else if ($("#group_type option:selected").text() == 'By region'){
                document.getElementById("group_reg").style.display = "inline";
            }else if ($("#group_type option:selected").text() == 'By population'){
                document.getElementById("group_pop").style.display = "inline";
            }else if ($("#group_type option:selected").text() == 'By network'){
                document.getElementById("group_net").style.display = "inline";
            }else if ($("#group_type option:selected").text() == 'Custom'){
                //var input_div = document.querySelector(".selectize-control");
                input_div.style.display = "inline";
            }
        }
    }
    function EnableSubmit(val){
        if (val != '0'){
            $("#Go").removeAttr('disabled');
        }else{
            $("#Go").prop('disabled', true);
        }
    }
    function GoToComp(){
        var group_type = $("#group_type option:selected").val()
        var group_id = ""
        if (group_type == 'cust'){
            group_id = $("#group_"+group_type+" option:selected").text()
        }else{
            group_id = $("#group_"+group_type+" option:selected").val()
        }
        window.location.href='/analysis/housing/comp/'+group_id
    }
</script>

{% endblock %}


