{% extends 'housing_affordability/base_housing.html' %}
{% load humanize %}

{% block content %}


  <main>
      
      <div class="aff-intro-twocol">
          
          <div class="aff-introbox">
              <div class="aff-question">
                  Background
              </div>
              <div style="padding:2%; font-size: 11pt;">
                  A team of analysts at the Center for Government Excellence (GovEx) reinvisioned the traditional scope of a housing affordability index’s accuracy and purpose. In their initial explorations, the analysts took note of what and how other indices presented data, made certain assumptions , as well as, arguably most importantly, excluded some relevant information.<br>
                  
                  How was housing affordability being defined? What research questions are left unasked? Why were some variables being used instead of others in answering the research questions?<br>
                  
                  In its attempt to address these questions and more, the analyst team started by conducting research on how affordability has been historically defined and measured.
              </div>
          </div>
          <div class="aff-introbox">
              <div class="aff-question">
                  Introduction
              </div>
              <div style="padding:2%; font-size: 11pt;">
                  In its final form, the index defines, measures, and visualizes housing affordability as holistically as possible.<br>
                  
                  The Center for Government Excellence presents this housing overview and affordability index as both a resource and a call-to-action. While it’s anticipated that the information presented is accessible to and informative for city residents, the team is also hopeful that local government agencies and other organizations are able to utilize this index to inform programmatic decisions that improve the affordability and life quality of its residents.
                  
                  <!--Further readings:<br>
                   <a href="https://journals.sagepub.com/doi/pdf/10.1080/00420989220080491">1</a>  Linneman, P.D., Megbolugbe, I.F. 1992, “Housing affordability: myth or reality?", Urban Studies, Vol. 29, issue 3/4, 369-392<br>
                   <a href="https://www.researchgate.net/publication/260125408_Jewkes_M_Delgadillo_L_2009_Analysis_of_housing_affordability_indices_used_by_practitioners_AFCPE_Conference_Scotland_Arizona_November_14-16_2-4">2</a> Jewkes, M.D. and Delgadillo, L.M. 2009, “Weaknesses of Housing Affordability Indices
                   Used by Practitioners", AFCPE Conference, Scotland, Arizona. November 14-16, 2-4.<br>
                   <a href="https://www.huduser.gov/portal/pdredge/pdr-edge-featd-article-081417.html">3</a> U.S. Department of Housing, “Defining Housing Affordability"<br>-->
              </div>
          </div>
      </div>
    
  </main>

{% endblock %}
